<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>controller.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProject</servlet-name>
        <servlet-class>controller.UpdateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>controller.AddProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>controller.TaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTaskController</servlet-name>
        <servlet-class>controller.AddTaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTask</servlet-name>
        <servlet-class>controller.UpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RiskController</servlet-name>
        <servlet-class>controller.RiskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRisk</servlet-name>
        <servlet-class>controller.UpdateRisk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRiskController</servlet-name>
        <servlet-class>controller.AddRiskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>controller.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>controller.UpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkProgress</servlet-name>
        <servlet-class>controller.WorkProgress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>controller.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Approved</servlet-name>
        <servlet-class>controller.Approved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownLoadFile</servlet-name>
        <servlet-class>controller.DownLoadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewApp</servlet-name>
        <servlet-class>controller.CreateNewApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>com.example.UploadFileServlet</servlet-class>
        <multipart-config>
            <file-size-threshold>2621440</file-size-threshold>
            <!-- 2MB -->
            <max-file-size>10485760</max-file-size>
            <!-- 10MB -->
            <max-request-size>52428800</max-request-size>
            <!-- 50MB -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ApprovalController</servlet-name>
        <servlet-class>controller.ApprovalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProject</servlet-name>
        <url-pattern>/updateproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/addproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTaskController</servlet-name>
        <url-pattern>/addtask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTask</servlet-name>
        <url-pattern>/updatetask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RiskController</servlet-name>
        <url-pattern>/risk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRisk</servlet-name>
        <url-pattern>/updaterisk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRiskController</servlet-name>
        <url-pattern>/addrisk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/updateemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkProgress</servlet-name>
        <url-pattern>/workprogress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approved</servlet-name>
        <url-pattern>/approved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownLoadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewApp</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalController</servlet-name>
        <url-pattern>/approval</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
