<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>controller.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProject</servlet-name>
        <servlet-class>controller.UpdateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>controller.AddProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>controller.TaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTaskController</servlet-name>
        <servlet-class>controller.AddTaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTask</servlet-name>
        <servlet-class>controller.UpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RiskController</servlet-name>
        <servlet-class>controller.RiskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRisk</servlet-name>
        <servlet-class>controller.UpdateRisk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRiskController</servlet-name>
        <servlet-class>controller.AddRiskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>controller.MenuController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProject</servlet-name>
        <url-pattern>/updateproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/addproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTaskController</servlet-name>
        <url-pattern>/addtask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTask</servlet-name>
        <url-pattern>/updatetask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RiskController</servlet-name>
        <url-pattern>/risk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRisk</servlet-name>
        <url-pattern>/updaterisk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRiskController</servlet-name>
        <url-pattern>/addrisk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
